<h1>Nuevo Cliente</h1>
<%= simple_form_for (@customer), url: '/customer', html: { method: :post }  do |f| %>
  <%= f.input :email, label: 'Correo' %>
  <%= f.input :name , label: 'Nombres'%>
  <%= f.input :phone , label: 'Teléfono'%>
  <%= f.input :password, label: 'Contraseña'%>
  <%= f.button :submit, "Registrar" %>
<% end %>